.Dot {
  position: absolute;
  border-radius: 50%;
  background-size: cover;
}

.dot-handle {
  position: relative;
}

.d-50 {
  width: 50px;
  height: 50px;
}

.d-80 {
  width: 80px;
  height: 80px;
}

.d-130 {
  width: 130px;
  height: 130px;
}

.d-210 {
  width: 210px;
  height: 210px;
}
