.LayerButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    font-size: 1.5em;
    text-align: center;
    background-color: #000;
}

button {
    appearance: none;
}

button.active-am {
    background-color: #AAA;
    border-top: 2px solid #777;
    border-left: 2px solid #777;
    border-right: 2px solid #777;
    border-bottom: 2px solid #AAA;
}

button.active-am-not {
    background-color: #AAA;
    border-top: 2px solid #777;
    border-left: 2px solid #777;
    border-right: 2px solid #777;
    border-bottom: 2px solid #777;
}

   /* for panels */
.active-am:not(button) {
    display: grid;
}

.active-am-not:not(button) {
    display: none;
}

.LayerPanels {
}

.LayerPanel {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding: 2%;
    background-color: #AAA;
    padding-top: 10px;
}

.DotStyleChooser {

}

.DotColorChooser1 {

}

.DotColorChooser2 {

}

.DotSizeChooser {
    padding-top: 5%;
}
.DotQtyChooser {
    padding-top: 5%;

}
.DotAlgoChooser {

}

.style-button {
    display: block;
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
}

.style-button.am-chosen {
    display: block;
}

.style-button.am-not-chosen {
    display: none;
}

.style-button.expanded {
    display: block;
}