.LayerButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    font-size: 1.5em;
    text-align: center;
    background-color: #000;
}

button {
    appearance: none;
}

button.active-am {
    background-color: #AAA;
    border-top: 2px solid #777;
    border-left: 2px solid #777;
    border-right: 2px solid #777;
    border-bottom: 2px solid #AAA;
}

button.active-am-not {
    background-color: #AAA;
    border-top: 2px solid #777;
    border-left: 2px solid #777;
    border-right: 2px solid #777;
    border-bottom: 2px solid #777;
}

   /* for panels */
.active-am:not(button) {
    display: grid;
}

.active-am-not:not(button) {
    display: none;
}

.LayerPanels {
}

.LayerPanel {
    padding: 2%;
    background-color: #AAA;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 110px 50px 50px 50px 200px 1fr;
    padding-top: 10px;
}

.DotStyleChooser {
    grid-column: 1/2;
    grid-row: 1/2;
}
.DotSizeChooser {
    grid-column: 1/5;
    grid-row: 2/3;
}
.DotQtyChooser {
    grid-column: 1/5;
    grid-row: 3/4;
}
.DotAlgoChooser {
    grid-column: 1/5;
    grid-row: 4/5;
    opacity: 1;
}

.DotColorChooser {
    grid-column: 1/5;
    grid-row: 5/6;
}

.style-button {
    display: block;
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
}

.style-button.am-chosen {
    display: block;
}

.style-button.am-not-chosen {
    display: none;
}

.style-button.expanded {
    display: block;
}